body {
    margin: 1em;
    padding: 0;
    background: #eaeaea;
}

header {
    display: flex;
    width: 90vw;
    min-height: 5em;
}

div {
    border: 1px black solid;
    /* min-height: 50px; */
}

.search-area-wrapper {
    display: flex;
    flex-direction: column;
}

.top-logo {
    flex: 8
}

.search-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.search-results {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 90vw;
    margin: auto;
    height: 100%;
}

.tophalf-wrapper {
    height: 100vh;
    overflow: hidden;
}

#artistList {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#eventList {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.submit-div {
    margin: .5em;
    display: flex;
    justify-content: center;
}

.event-card,
.artist-card {
    text-align: center;
    line-height: 0;
    display: flex;
}

.event-card-text {
    flex: 12;
}

.artist-card-text {
    flex: 8;
}

.interface-e {
    flex: 1;
}

.interface-a {
    flex: 2;
}

button {
    width: 10em;
}