@import url('https://fonts.googleapis.com/css?family=Lobster|Quicksand:500|Roboto+Condensed');
/* GLOBALS */

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0;
    background: linear-gradient(181deg, #79D27C, #1C194D);
    color: #eaeaea;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

header {
    display: flex;
    width: 100vw;
    background-color: #222;
    margin: auto;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 3.4em;
    margin: .5em;
    color: rgb(71, 209, 36);
}

input {
    margin-left: 1em;
}

button {
    width: 10em;
}

/* WRAPPERS */

.tophalf-wrapper {
    overflow: hidden;
    /* border: 1px black solid; */
    min-height: 140vh;
}

.bottomhalf-wrapper {
    margin: 1.5em;
    /* background-color: #222; */
    font-family: 'Roboto Condensed';
}

/* HEADER */

.top-logo {
    flex: 7;
}

.login-area>form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    padding: 1em;
    justify-items: end;
    grid-gap: 1em;
    align-items: end;
}

.passSpan {
    grid-row: 1;
    grid-column: 2;
}

.login-area {
    flex: 2
}

#logIn,
#signUp {
    grid-row: 2;
}

.emailSpan {
    grid-column: 1;
}

.hideMe>button {
    justify-self: end;
}

/* SEARCH AREA */

/* class for label and input */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 4;
}

.search>label {
    margin: 0;
    margin: auto;
}

.search-bar>form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3em 3em;
    margin: auto 0;
    width: 100vw;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9)
}

#submitInput,
#logOut {
    border-radius: 20px;
}

#currentUser,
#logOut {
    grid-column: -1;
}

.submit-div {
    margin: 2em;
    display: flex;
    justify-content: center;
    grid-column: 6/8;
    grid-row: 2;
    align-self: center;
    height: 50%;
}

/* SEARCH RESULT AREA */

.search-results {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 90vw;
    margin: auto;
    height: 80vh;
}

/* LEFT SIDE - Artists */

#artistList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
    align-content: start;
    align-items: center;
    overflow: auto;
    flex: 2;
    background-color: #222;
    border: 2px black solid;
    padding: 2em;
}

.artist-card {
    text-align: center;
    line-height: 1.1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px #1ED760 solid;
    max-height: 42px;
}

.artist-card-text {
    grid-column: 1/9;
    flex: 8;
    flex-basis: content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px #1ED760 solid;
    /* border-left: 2px #1ED760 solid; */
}

.artist-card-text>p {
    display: flex;
    align-items: center;
    min-height: 2em;
    margin: auto;
}

.artist-card-text:hover {
    background-color: #eaeaea;
    color: #333;
}

.interface-a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 9 / span 2;
    flex: 2;
    align-items: center;
}

.playButton {
    order: -1;
    height: 100%;
}

/* RIGHT SIDE - Events & Player */

#eventList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, 250px);
    grid-gap: 1em;
    overflow: auto;
    padding: 2em;
    background-color: rgba(13, 0, 43, 0.705);
    border: 2px black solid;
}

#spotifyDiv {
    display: flex;
    align-items: center;
    background-color: #333;
    justify-content: center;
}

.event-card {
    text-align: center;
    line-height: 1.1;
    background-color: #aaa;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 1em 1fr 1em;
    max-height: 250px;
    align-items: center;
    border: 2px goldenrod solid;
}

.event-card-text {
    grid-column: 1/13;
    grid-row: 2/3;
    max-height: 200px;
    color: #444;
}

.interface-e {
    display: flex;
    grid-column: 13/-1;
    grid-row: 1/4;
    align-items: center;
    justify-content: center;
    max-height: 170px;
    min-height: 100%;
    border-left: 1px #1ED760;
    background-color: #222;
    height: 100%;
}

.iButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1ED760;
    min-height: 100%;
}

.iButton:hover {
    background-color: #fff;
    color: black;
}

/* CALENDAR */

#calendar1 {
    width: 90vw;
    margin: auto;
    box-shadow: -30px 20px 60px rgba(0, 0, 0, 0.3);
}

.fc-content,
.fc-event {
    background-color: rgb(187, 152, 36);
    color: #eaeaea;
    min-height: 1.5em;
    border-radius: 20px;
    text-align: center;
    padding: 3px;
    border-color: transparent;
}

.fc-today {
    background: transparent !important;
    border: 3px red solid;
}

.fc-other-month {
    color: rgba(0, 0, 0, 0.5)
}

/* MODAL */

.modal-content {
    background-color: #222;
}

.modal-title {
    order: -1;
    flex: 9;
}

.close {
    padding: 0;
    flex: 1;
    color: white;
}

.modal-header {
    display: flex;
}

.hide {
    display: none;
}

/* MEDIA QUERIES */

/* @media screen and (max-width: 768px) {
    .top-logo {
        flex: 1
    }
    .login-area>form>div {
        grid-column: 1;
    }
} */

@media screen and (max-width: 950px) {
    header {
        display: flex;
        flex-direction: column;
    }
    #passwordText,
    #emailText {
        display: flex;
        justify-content: right;
    }
}

@media screen and (max-width: 768px) {
    .search-bar>form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .submit-div {
        grid-column: 1;
        grid-row: 4;
        height: 2em;
    }
    .search {
        grid-column: span 1;
    }
}

@media screen and (max-width: 500px) {
    .search-results {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .event-card {
        grid-template-rows: 1fr;
    }
}