.selectArtist {
    display: block;
    border-style: solid;
    border-color: #5cbea9;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.event {
    display: block;
    border-style: solid;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-color: #457645;
}

img {
    display: block;
}

.events-card {
    height: 75vh;
    overflow: auto;
}

.play {
    float: right;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-left: 20px solid black;
    height: 0px;
  }